<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="CS108PET-Config" status="WARN">
    <Properties>
        <Property name="loggingPattern">[%d{dd.MM.yyyy HH:mm:ss.SSS}][%-5level][%t] %C{1} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${loggingPattern}"/>
        </Console>
        <RollingFile name="rollingFile" fileName="logs/cs108pet.log" filePattern="logs/$${date:yyyy-MM}/cs108-pet-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${loggingPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- GENERAL org packages -->
        <Logger name="org" level="ERROR">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- TEMPLATING -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.templating" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- CONFIGURATION -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.configuration" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- EDITOR -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.ui.editor" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- EVALUATOR -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.ui.evaluator" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- DATA -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.data" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- CONTROL -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.control" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- APPLICATION -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.ui.CS108PETApplication" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- GENERAL UI -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet.ui" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- GENERAL CS108PET -->
        <Logger name="ch.unibas.dmi.dbis.cs108pet" level="WARN" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <!-- ROOT -->
        <Root level="ERROR" />
    </Loggers>
</Configuration>