/* app: style.css */
/*
Styling to indicate that a tab is not saved yet.
 */
.modified .tab-label {
    -fx-font-weight: bold;
}

/*
Presentation mode:
Adjust later on
 */
.root.presentation {
    -fx-font-size: 1.8em;
}

.menu-bar {
    -fx-font-size: 1em;
}

/*
Removing style of checkbox:
 */

.check-box.silent > .box {
    -fx-background-color: crimson;
}

/*
Styling for all displays (label which display an information)
 */
.label.display {
    -fx-background-color: white !important;
}

.darkened {
    -fx-background-color: #bdbdbd ; /* Material grey lighten-1 */
}

.disabled {
    -fx-background-color: #7b7b7b;
}

.disabled .table-cell {
    -fx-strikethrough: true;
}