{
	"extension": "html",
	"templates": {
		"requirement": "templating/requirement.html",
		"milestone": "#",
		"catalogue": "templating/catalogue.html",
		"progress": "templating/progress.html",
		"group-milestone": "templating/group-milestone.html",
		"group": "templating/group.html"
	},
	"name":"CS108 Achievement export",
	"version":"1.0.0"
}